* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 22px;

.logo {
    font-size: 40px;;
    font-weight: 500;
}
.user{
    font-size: 19px;
    padding: 12px 25px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}    

} 

.nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      align-items: center;  
}

.left-div{
    margin-left:30% ;
    width: 560px;
}

.right-div img{
    width: 560px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
}

.left-div h1{
    font-size: 50px;
}

.left-div span{
    color: blueviolet;
}
.left-div p {
    margin-top: 20px;
    font-size: 20px;
    display: inline-block;
}

.left-div button{
    font-size: 25;
     margin-top: 25px;
    padding: 12px 25px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
